

<div class="container text-center mt-5">
    <h2 class="text-danger">Error</h2>
    <p>@ViewBag.Message</p>
    
    <a href="@Url.Action("Index", "HomePage")" class="btn btn-primary">Return to Home Page</a>
</div>